{% extends 'base.html' %}

{% block content %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Video Catalogue</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-hover"
            data-toggle="table"
            data-search="true"
            data-pagination="true"
            data-page-size="20"
          >
            <thead>
              <tr>
                <th>Word</th>
                <th>category</th>
              </tr>
            </thead>
            <tbody>
              {% for item in catalogue %}
                <tr>
                  <td>{{item.word}}</td>
                  <td>{{item.category}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}
