{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FDraw.gif?alt=media&token=7c3f2a97-1551-4fca-ae74-e15aa4eba171" alt="">
                    <div class="intro-text">
                        <span class="name">Learn Sign Language</span>
                        <!-- <hr class="star-light">
                        <span class="skills"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Signs</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FCivil%20structural%20egineer.gif?alt=media&token=8e46f54e-f223-465d-9a81-92faaa8b6846" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FCoach.jpg?alt=media&token=004b74f0-4f8e-49b7-9647-67f8fecfaa79" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FPrepare.gif?alt=media&token=023d8e47-50c9-4ee7-b64f-7993f4f9c07f" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2Feveryone.gif?alt=media&token=5dcd767e-becb-4fab-bd85-03927cdcb70e" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FDemand.jpg?alt=media&token=cd5ec233-aa07-4c0c-b963-8bf652cdf1fc" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://firebasestorage.googleapis.com/v0/b/jasigns-1045.appspot.com/o/signgifs%2FComputer%20chip.gif?alt=media&token=5a49e070-7a37-46b4-8b29-6c6308746fb1" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>An app for learning business vocabulary in JSL (Jamaican Sign Language).</p>
                </div>
                <div class="col-lg-4">
                    <p> Test your knowledge with the Quiz or spend some time learning in the Learn. Need to find the sign for a word, look it up using our Search section.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://play.google.com/store/apps/details?id=com.alteroo.apps.jasigns" class="btn btn-lg btn-outline">
                        <i class="fa fa-android"></i> JaSigns App
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!-- <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                </div>
            </div>
        </div>
    </section> -->

{% endblock %}
